body {
	background: #cccccc none repeat scroll 0 0;
	font-family: 'Delius', helvetica, cursive;
}

.mainWrap {
	margin: 0 auto;
	overflow: auto;
	padding: 1em;
}

.whiteboard {
	background-color: white;
	border: #696969 solid 20px;
	-webkit-box-shadow: 3px 7px 3px #888888;
    box-shadow: 3px 7px 3px #888888;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    text-align: center;
    overflow: auto;
}

.ideaBoardTitle {
	margin: 15px;
	text-align: center;
}